
// Size
$main-size : 10px;

$content-width: 1100px;
$tablet-pro-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

// Main color
$color-light: #ffffff;
$color-font-main: #4A4A4A;
$color-add-main: #333333;