//transition

%transition {
    transition: all .3s ease-out;
}

//fonts

%font-prim-regular {
    font-family: 'montserratregular', Verdana, sans-serif;
}

%font-prim-light {
    font-family: 'montserratlight', Verdana, sans-serif;
}

%font-prim-semibold {
    font-family: 'montserratsemibold', Verdana, sans-serif;
}

%font-prim-bold {
    font-family: 'montserratbold', Verdana, sans-serif;
}

%font-add-italic {
    font-family: 'open_sanslight_italic', Verdana, sans-serif;
}

%font-add-regular {
    font-family: 'robotoregular', Verdana, sans-serif;
}

//scroll

%custom-scroll {
    &::-webkit-scrollbar {
        width: 7px;
    }

    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 1px grey;
    }

    &::-webkit-scrollbar-thumb {
        background: $color-border-new;
        border-radius: 5px;

        &:hover {
            background: $color-border;
            @extend %transition;
        }
    }
}